@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1>ElseForty Unity 3D tool Publisher</h1>
    <p style="text-indent: 20px;">
        Welcome to the official ElseForty website! Our portal is dedicated to providing current users of our tools with the resources they need,
        as well as introducing new visitors to the powerful solutions we offer. We are proud to have 2 published tools available on the Unity Asset Store,
        and we also have several unpublished tools that have been requested by private clients or developed for internal use.
        We value your feedback and welcome any thoughts or ideas you may have for new tools that can help you create even more brilliant games.
        Thank you for visiting our website!
    </p>
    <div class="row justify-content-center p-2">

        <div class="col-12 col-lg-6 p-2 text-center">
            <div class="card" style="min-height:400px;">

                <img class="card-img-top" src="https://elseforty.github.io/Spline-Plus-Documentation/SplinePlus/images/SplinePlusLogo.png" />

                <div class="card-body">
                    <h5 class="card-title">Spline Plus</h5>
                    <p class="card-text">
                        Spline Plus is a compact branching splines system and advanced path following tool for Unity3D.<br />
                    </p>
                    <a href="https://assetstore.unity.com/packages/tools/animation/spline-plus-115853" class="btn btn-primary">Unity Asset store</a>
                </div>
            </div>
        </div>


     

        <div class="col-12 col-lg-6 p-2 text-center">
            <div class="card" style="min-height:400px;">

                <img class="card-img-top" src="https://elseforty.github.io/Spline-Plus-Documentation/SplineMeshDeform/images/SplineMeshDeformLogo.png" />

                <div class="card-body">
                    <h5 class="card-title">Spline Mesh Deform</h5>
                    <p class="card-text">
                        Spline Mesh Deform is a procedural mesh generation modifiers collection for Spline plus. it has 4 modifiers included : Deformed Mesh - Extrude - Plane Mesh - Tube Mesh.<br />
                    </p>
                    <a href="https://assetstore.unity.com/packages/tools/modeling/spline-mesh-deform-122677" class="btn btn-primary">Unity Asset store</a>
                </div>
            </div>

        </div>
    </div>
    </div>