<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8c32bff8-0007-421f-9ea9-f5233c000df3/resourceGroups/ElseForty/providers/Microsoft.Web/sites/ElseFortyWebApp</ResourceId>
    <ResourceGroup>ElseForty</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://elsefortywebapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://elsefortywebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ElseFortyWebApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>